body{
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.conteudo{
  padding-top: 200px;
  max-width: 70%;
}

@@media (max-width: 768px) {
  .conteudo{
    padding-top: 100px;
    max-width: 100%;
  }
}
